@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-nav > li {
  padding: 0 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #000000;
  transform: scale(1.2);
  text-shadow: none;
}

.my-custom-button {
  background-color: #fa2057;
  color: #ffffff;
  border: none;
  padding: 0.75rem;
  width: 11.25rem;
  border-radius: 1.6rem;
  font-weight: 600;
}

.my-custom-button:hover {
  background-color: #aa153a;
  cursor: pointer;
}

.my-custom-button2 {
  background-color: #fa2057;
  color: #ffffff;
  border: none;
  padding: 0.75rem;
  width: 11.25rem;
  margin-top: 5%;
  border-radius: 1.6rem;
  font-weight: 600;
}

.my-custom-button2:hover {
  background-color: #aa153a;
  cursor: pointer;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
}

.carousel-caption h1 {
  font-family: "Lato", sans-serif;
  font-size: 5vw;
  font-weight: 900;
}

.carousel-caption h3 {
  font-family: "Lato", sans-serif;
}

.custom-line {
  border-top: 2px solid red;
  width: 4rem;
  margin: 2% auto;
}

.card-body .card-title {
  color: #080808;
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.fixed-background {
  margin: 10% 0;
  background-image: url("images/image.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 80vh;
  color: white;
}

@media only screen and (max-width: 961px) {
  .my-custom-button {
    display: none;
  }
}
